/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require bootstrap
 *= require token-input-facebook
*/

.txt {
    color: blue;
    text-decoration:none;
    line-height: 2px;
    font-family: serif, Helvetica, sans-serif;
}

.app_top {
margin: 0 auto;
width: 944px;
background: url(/assets/background_app.png) top no-repeat;
}

.header {
margin: 0 auto;
width: 890px;
height: 88px;
border-bottom: 1px solid #BBB;
}

.main_content {
margin: 0px 20px;
padding: 30px 20px 20px 0px;
background: white;
min-height: 350px;
}

.app_bottom {
margin: 0 auto;
width: 950px;
height: 50px;
background: url(/assets/background_app.png) bottom no-repeat;
}

.footer {
width: 870px;
font-size: 11px;
font-weight: bold;
margin: 3px auto 20px auto;
}

.widget {
       background: #FAFAFA;
       background-color: #FAFAFA;
       filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E7EEF4');
       background: -moz-linear-gradient(top, #FAFAFA, #E7EEF4);
       background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E7EEF4));
       height: auto;
       width: 155px;
       padding: 5px;
       border: solid 1px #DCDCDC;
       border-bottom: solid 1px #98B1C7;
       -moz-border-radius: .5em;
       -webkit-border-radius: .5em;
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
       -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
       padding-bottom: 5px;
       padding-top: 5px;
       padding-left: 5px;
       padding-right: 40px;
       /*font-size: 10px;
       font-weight: lighter;*/
}

.comment {
    font-size: 10px;
    font-weight: lighter;
}

.topic {
  border-bottom-color:#F0F0F0;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-top-color:#F0F0F0;
  border-top-style:solid;
  border-top-width:1px;
  overflow-x:hidden;
  overflow-y:hidden;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  width:auto;
}



 .divider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}